{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Inicio de sesión - Maullidos</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
</head>

<body class="bg-gradient-primary">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">¡Bienvenido!</h4>
                                </div>
                                <form class="user" method="post" action=".">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        {{ form.username|attr:"placeholder:Escriba su usuario"|attr:"class:form-control form-control-user" }}
                                    </div>
                                    {% if form.username.errors %}
                                        <div class="errors">
                                            {% for error in form.message.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="mb-3">
                                        {{ form.password|attr:"placeholder:Escriba su contraseña"|attr:"class:form-control form-control-user" }}
                                    </div>
                                    {% if form.password.errors %}
                                        <div class="errors">
                                            {% for error in form.message.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="mb-3">
                                        <div class="custom-control custom-checkbox small"></div>
                                    </div>
                                    <button class="btn btn-primary d-block btn-user w-100" type="submit">Acceder
                                    </button>
                                    <hr>
                                </form>
                                <div class="text-center"><a class="small" href="{% url 'register' %}">¿No posees una
                                    cuenta?
                                    ¡Créate una!</a></div>
                                <hr>
                                <div class="text-center"><a class="small" href="{% url 'all_messages' %}">Ver Maullidos</a></div>


                                <!--Errores -->
                                {% if form.errors %}
                                    <ul class="alert alert-danger">
                                        {% for error in form.non_field_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/script.min.js' %}"></script>
</body>
</html>